<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Player Details</title>
</head>
<body>
<div class="container mt-4">
  <h1>Player Details</h1>
  <p>ID: <span th:text="1"></span></p>
  <p>Name: <span th:text="'Alex Abrines'"></span></p>
  <p>Height: <span th:text="'6 feet 6 inches'"></span></p>
  <p>Position: <span th:text="G"></span></p>
</div>
</body>
</html>
